* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("contactWallpaper.jpg");
    background-size: cover;
    min-height: 100vh;
}

.contact-form {
    height: 80%;
    width: 40%;
    display: block;
    padding: 25px;
    margin: 10px auto;
    margin-top: 60px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

h1 {
    font-size: 35px;
    margin-top: 10px;
    padding: 15px;
    text-align: center;
    color: white;
}

label {
    margin-left: 60px;
    font-size: 22px;
    color: white;
}

input[type=text],
input[type=email],
textarea {
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 60px;
    box-sizing: border-box;
    border-radius: 3px;
    resize: vertical;
    border: 1px solid black;
}

input[type=submit] {
    background-color: gray;
    color: black;
    padding: 12px 20px;
    margin-left: 180px;
    border: none;
    border-radius: 3px;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #FD841F;
    color: white;
}
